<div class="all-product-page">

  <h1 class="mt-3">Products of Rerstaurant X</h1>

  <div class="buttons-top">
    <button type="button" class="btn btn-success top-buttons" data-bs-toggle="modal" data-bs-target="#createModal">
      Create product
    </button>
    <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">You are creating a product</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <app-create-product></app-create-product>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="input-group mb-3 search-bar">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
    </div>
    <input type="text" class="form-control" placeholder="Busca un producto" aria-label="Search" aria-describedby="basic-addon1" name="searchBarValue" [(ngModel)]="searchBarValue" (input)="searchProduct()">
    <div class="input-group-append">
      <button class="input-group-text btn-dark" (click)="searchProduct()">Buscar</button>
    </div>
  </div>

  <div class="filters">
    <div class="form-check form-check-inline" (click)="getProducts()">
      <input class="form-check-input" type="radio" name="radioFilter" id="inlineRadio1" value="option1">
      <label class="form-check-label" for="inlineRadio1">Todos los productos</label>
    </div>
    <div class="form-check form-check-inline" (click)="getSalats()">
      <input class="form-check-input" type="radio" name="radioFilter" id="inlineRadio2" value="option2">
      <label class="form-check-label" for="inlineRadio2">Salats</label>
    </div>
    <div class="form-check form-check-inline" (click)="getMain()">
      <input class="form-check-input" type="radio" name="radioFilter" id="inlineRadio3" value="option3">
      <label class="form-check-label" for="inlineRadio3">Main course</label>
    </div>
    <div class="form-check form-check-inline" (click)="getDrinks()">
      <input class="form-check-input" type="radio" name="radioFilter" id="inlineRadio4" value="option4">
      <label class="form-check-label" for="inlineRadio4">Drinks</label>
    </div>
  </div>

  <ul class="product-list">
    <li *ngFor="let product of filteredList;">
      <div class="product-card">
        <div class="image-box">
          <img [src]="product.image" class="product-image" alt="...">
        </div>

        <div class="info-box">
          <div class="product-info">
            <h2 class="mb-0">{{product.name}}</h2>
          </div>
          <!-- Buttons -->
          <button type="button" class="btn btn-dark more-info-btn my-1" data-bs-toggle="modal" data-bs-target="#infoModal" (click)="getThisProduct(product)">
            <i class="bi bi-info-square"></i> Más información
          </button>
          <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Información de {{this.thisProduct.name}}</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <small>ID del producto:</small>
                  <p>{{thisProduct._id}}</p>
                  <small>Nombre del producto:</small>
                  <p>{{thisProduct.name}}</p>
                  <small>Precio:</small>
                  <p>{{thisProduct.price}} €</p>
                  <small>Ingredientes:</small>
                  <p>{{thisProduct.ingredients}}</p>
                  <small>Imagen:</small>
                  <p>{{thisProduct.image}}</p>
                  <small>Categoría:</small>
                  <p class="my-1" [hidden]="thisProduct.category !== 'salats'">Salats</p>
                  <p class="my-1" [hidden]="thisProduct.category !== 'main'">Main Course</p>
                  <p class="my-1" [hidden]="thisProduct.category !== 'drinks'">Bebidas</p>
                </div>
              </div>
            </div>
          </div>

          <button type="button" class="btn btn-warning more-info-btn my-1" data-bs-toggle="modal" data-bs-target="#editModal" (click)="getThisProduct(product)">
            <i class="bi bi-pencil-square"></i> Editar
          </button>
          <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Estás editando a {{this.thisProduct.name}}</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <app-edit-product [product]="thisProduct"></app-edit-product>
                </div>
              </div>
            </div>
          </div>

          <button type="button" class="btn btn-danger more-info-btn" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="getThisProduct(product)">
            <i class="bi bi-trash3"></i> Eliminar producto
          </button>
          <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Estás a punto de eliminar el producto {{this.thisProduct.name}}</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <h1>¿Seguro que quieres eliminar el producto {{this.thisProduct.name}}?</h1>
                  <h3>Estos cambios son irreversibles</h3>
                  <app-delete-product [product]="thisProduct"></app-delete-product>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </li>
  </ul>
</div>
