<div class="about-box">
  <div class="text-box">
    <h1>
      Discover Restaurant X
    </h1>
    <p>
      the vegetarian paradise where nature and gastronomy merge in every dish. Delicious options that nourish body and soul. Welcome to a unique green experience.
    </p>
    <p>
      Each carefully selected ingredient comes from local and sustainable sources, respecting the Earth's cycle. Our talented chefs blend tradition and creativity to bring forth unique dishes that awaken your senses and invite you to explore new flavors.
    </p>
  </div>
  <div class="info-box">
    <img class="logo" src="https://freesvg.org/img/chef-restaurant-logo-publicdomainvectors.png" alt="restaurant logo"/>
    <div class="info">
      <p><i class="bi bi-clock"></i> Thursday to Sunday, from 12:00 to 23:00</p>
      <p><i class="bi bi-map"></i> Green Street, Cityville, Countryland </p>
      <p><i class="bi bi-telephone"></i> +43 6666 7777 8888</p>
      <p>We don't make bookings</p>
    </div>
  </div>
  <div class="map-box">
    <iframe class="map" src="https://www.google.com/maps/d/embed?mid=15FS5kaF-TGxlNJte9qZ2ZMrinSCZ2XU&ehbc=2E312F"></iframe>
  </div>
</div>
